.moves{
    text-align: start;
    margin-top: 1em;
}
ul.moves-list{
    list-style-type: none;
}
.moves-img{
    margin-inline-start: 2.2em;
    margin-inline-end: 0.5em;
    height: 30px;
}
.move-hr{
    margin-inline-end: 4vw;
}
li:first-child{
    .move-hr{
        display: none;
    }
}