<section class="signup-login container">
    <div *ngIf="mode === 'signup'">
        <section class="login-header">
            
            <img src="assets/icon/bitcoin.png"  alt="">
            <h3>Register to Mister Bitcoin!</h3>
        </section>
        <form id="form" #form="ngForm" class="form-group signup flex column" (ngSubmit)="onSubmit(form.value)">
            <label for="username">
                <p>Username</p>
                <input class="login-input" ngModel  id="username" type="text" name="username" placeholder="Userame" required>
            </label>
            <p>Full name</p> 
            <label for="fullname">
                <input class="login-input" ngModel  id="fullname" type="text" name="fullname" placeholder="Full name" required>
            </label>
           <p> Password</p>
           <label for="password">
               <input class="login-input" ngModel  id="password" type="password" name="password" placeholder="Password" required>
            </label>
            
            <button type="submit" class="btn-slide" [disabled]="form.invalid" [ngStyle]="{'vertical-align':'middle'}"><span>Signup!</span></button>
            <p class="change-mode"> Already a member? <a (click)="this.mode = 'login'">Login!</a></p>
        </form>
    </div> 
    <div *ngIf="mode === 'login'">
        <section class="login-header">
            
            <img src="assets/icon/bitcoin.png"  alt="">
            <h3>Login to Mister Bitcoin!</h3>
        </section>
        <form id="form" #form="ngForm" class="form-group login flex column" (ngSubmit)="onSubmit(form.value)">
            <label for="username">
                Username
                <input class="login-input" ngModel  id="username" type="text" name="username" placeholder="Userame" required>
            </label>
            <label for="password">
                <p>Password</p>
                <input class="login-input" ngModel id="password" type="password" name="password" placeholder="Password" required>
            </label>
            <button type="submit" class="btn-slide" [disabled]="form.invalid" [ngStyle]="{'vertical-align':'middle'}"><span>Login!</span></button>
           <p class="change-mode"> Not a member? <a (click)="this.mode = 'signup'">Signup!</a></p>
        </form>
    </div>
</section>
