<section class="signup">
    <div *ngIf="mode === 'signup'">

        <form #form="ngForm" class="form-group-signUp" (ngSubmit)="onSubmit(form.value)">
            <label for="username">
                <input ngModel [(ngModel)]="user.username" id="username" type="text" name="username" placeholder="Userame" required>
            </label>
            <label for="fullname">
                <input ngModel [(ngModel)]="user.fullname" id="fullname" type="text" name="fullname" placeholder="Full name" required>
            </label>
            <label for="password">
                <input ngModel [(ngModel)]="user.password" id="password" type="password" name="password" placeholder="Password" required>
            </label>
            <button [disabled]="form.invalid">Signup!</button>
            <p> Already a member? <a (click)="this.mode = 'login'">Login!</a></p>
        </form>
    </div> 
    <div *ngIf="mode === 'login'">

        <form #form="ngForm" class="form-group-login" (ngSubmit)="onSubmit(form.value)">
            <label for="username">
                <input ngModel [(ngModel)]="user.username" id="username" type="text" name="username" placeholder="Userame" required>
            </label>
            <label for="password">
                <input ngModel [(ngModel)]="user.password" id="password" type="password" name="password" placeholder="Password" required>
            </label>
            <button [disabled]="form.invalid">Login!</button>
           <p> Not a member? <a (click)="this.mode = 'signup'">Signup!</a></p>
        </form>
    </div>
</section>
