.signup-login{
    div{
        box-shadow: 0px 0px 4px black;
        padding-inline: 3vw;
        margin: 3rem auto;
        background-color: #f0f2f5;
        width: 250px;
        height: 400px;
    }
        .btn-slide{
            position: absolute;
            margin: 1em 0;
            top: 350px;
            width: 220px;
    }
    form{
        margin-top: 0.5em;
    }
}
.change-mode{
    position: absolute;
    top: 420px;
    a{
        text-decoration: underline;
        color: #2591fe;
        cursor: pointer;
    }
}
.login-input{
    padding: 3px 0;
    margin: 5px 0;
    width: -webkit-fill-available;
}
.login-header{
   h3{
    padding-bottom: 1em;
   }
    padding-top: 0.5em;
    text-align: center;
}