<section *ngIf="contact" class="container contact-details">
    <div class="flex space-between details-menu">
        <a class="details-redirect" routerLink="/contact">Back</a>
        <a class="details-redirect" [routerLink]="['/contact/edit',contact._id ]">Edit</a>
    </div>
    <img class="contact-img" src="../assets/icon/contact.png">
    <h1 class="contact-header">{{contact.name}}</h1>
    <h2>{{contact.phone}}</h2>
    <h2>{{contact.email}}</h2>
    <img title="Delete contact" class="trash-img" (click)="deleteContact(contact._id)" routerLink="/contact" src="../assets/icon/delete.png" alt="">
    <app-transfer-fund (onTransfer)="transfer($event)" [contact]="contact"></app-transfer-fund>
    <app-move-list [contact]="contact" title="Your last Moves with {{contact.name}}:"></app-move-list>
</section>
